html,
body {
    font: 20px/1.4 'Montserrat', sans-serif;
}

body {
    background: #FFE6D3;
}

.content {
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}

.mainNav {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    display: flex;
    align-items: center;

    a {
        display: inline-block;
        color: #1F030E;
        padding: 1rem 4rem 1rem 0;
        text-decoration: none;

        &:visited,
        &:hover,
        &:active {
            color: #1F030E;
        }
    }
}

.buttonWhite {
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 1.2em 2em;
    border: none;
    border-radius: 10px;
    font: 700 16px/1em 'Montserrat', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parallax {
    background: pink;
    position: relative;
    width: 100%;
    padding-bottom: 116%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}